.nav-container {
    width: 15%;
    height: 200vh;
    background-color: rgb(54, 54, 54);
    float: left;
  }
  
  .nav {
    width: 25%;
    height: 100vh;
    margin: auto;
  }

  .logo {
      width: 200px;
      height: 200px;
      padding: 5px;
      background-image: url(../LOGO.gif);
      margin: auto;
  }



  ul {
    list-style-type: none;
    text-decoration: none;
  }

  h2 {
    font-size: 30px;
    color: red;
    text-decoration: none;
    margin: auto;
    margin-top: 30px;
    text-decoration: underline;
  }

  h2:hover {
   color: black;
  }
  

  

  .background {
    background-attachment: fixed;
    float: right;
    width: 85%;
    height: 150vh;
    background-color: rgb(122, 0, 0);
    background-image: url(../background-1.png);
  }


.hero-text2 {
  width: 60%;
  height: 200px;
  margin: auto;
}

  h1{
    font-size: 70px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h3 {
    font-size: 20px;
    text-align: center;
    
  }

.block-1 {

  margin: auto;
  width: 90%;
  height: 800px;
  background-color: red;
  border: 5px solid black;

}


.left-section {
  width: 50%;
  height: 800px;
  float: left;
  background-color: red;
  
}

.btn1 {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 15px;
  margin-left: 15px;
  margin-top: 10px;
}


.btn2 {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 15px;
  margin-left: 15px;

}


.btn3 {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 15px;
  margin-left: 15px;

}


.screen {
  background-color: lightblue;
  width: 80%;
  height: 600px;
  margin: auto;
  margin-top: 70px;
  border: 5px solid black;
}

.sprite {
  width: 80%;
  height: 300px;
  background-color: lightblue;
  margin: auto;
  margin-top: 50px;
  border: 5px solid black;

}

.information {
  width: 100%;
  height: 240px;

}

.information h4 {
  font-size: 30px;
  margin: 10px;
}

.right-section {
  width: 49.5%;
  height: 800px;
  float: right;
  background-color: red;
  border-left: 5px solid black;
}

