* {
  padding: 0;
  margin: 0;
}

.battleground2 {
  width: calc(85%);
  float: right;
  height: 120vh;
  background-color: rgba(37, 189, 176, 0.644);
  background-image: url(./img/background.jpg);
  background-attachment: fixed;
}

.hero-text {
  width: 40%;
  height: 180px;
  margin: auto;
  text-align: center;
  background-image: url(./img/PokeMonLogo.png);
  background-size: 100% 100%;
}

h3 {
  text-align: left;
  font-size: 20px;
  font-family: "Cinzel", serif;
}

.box {
  margin-top: 100px;
  width: 100%;
  height: 400px;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.block:nth-child(1) {
  width: calc(100% / 3);
  height: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
}

.pie {
  margin: auto;
  margin-top: 80px;
  width: 50%;
  height: 50%;
 
  background-size: 100% 100%;
}

.block:nth-child(2) {
  width: calc(100% / 3);
  height: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self: flex-end;
}

.doughnut {
  margin: auto;
  margin-top: 80px;
  width: 50%;
  height: 50%;
 
  background-size: 100% 100%;
}

.block:nth-child(3) {
  width: calc(100% / 3);
  height: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.bar {
  margin: auto;
  margin-top: 80px;
  width: 50%;
  height: 50%;
  
  background-size: 100% 100%;
}

.block:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.096);
  border-radius: 150px;
}

.main-block {
  width: 100%;
  
}

.left1 {
  margin: 20px;
  width: 50%;
  height: 500px;
  float: left;
  background-color: rgb(49, 49, 49);
  border-radius: 50px;
}

.right1 {
  margin: 20px;
  width: 40%;
  height: 500px;
  float: right;
  background-color: rgb(49, 49, 49);
  border-radius: 50px;
}

