.battleground {
    background-image: url(../PokeDexComponent/BattleGround.jpg);
    background-attachment: fixed;
    float: right;
    width: 85%;
    height: 120vh;
}
/* 
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
    }

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;
    }

.flex-item:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    } */



 
.row-1 {
    width: 100%;
    height: 100px;
    
    padding-top: 20px;
}

.left {
    width: 40%;
    height: 35px;
    float: left;
    
}

#first {
    width: 100%;
    height: 100%;
   
}

.select1{
    width: 50%;
    height: 100%;
    background-color: red;
    margin: auto;
}


.right {
    width: 40%;
    height: 35px;
    float: right;
    
}

.select2 {
    width: 50%;
    height: 100%;
    background-color: red;
    margin: auto;
}

#second{
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 600px;
    
    }

.flex-item:nth-child(1) {
    margin-right: 50px;
    width: 350px;
    height: 80%;
    background: rgb(236,78,78);
    background: linear-gradient(90deg, rgba(236,78,78,1) 15%, rgba(255,144,144,1) 40%, rgba(255,38,38,1) 63%, rgba(247,143,143,1) 81%);
    border: 15px #c7a008 solid;
    border-radius: 15px;
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
    }

.pokemon-1 {
    border-radius: 15px;
    width:300px;
    height: 50%;
    
    border: 2px #B3A125 solid;
    margin: 25px;
}

.stats-1 {
    width: 350px;
    height: 38%;
    margin: 25px;
}

h3 {
    text-align: left;
}

.flex-item:nth-child(2) {
    width: 350px;
    height: 80%;
    
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;
    }

    #fight h2 {
        font-size: 40px;
        margin-left: 125px;
        color: black;
    }

.vs {
    background-image: url(./pokeball.png);
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 60%;
 
}

.vs:hover {
    width: 120px;
    height: 120px;
    margin-top: 55%;

}

/* .vs {
    background-image: url(./poke.jpg);
    border-radius: 80px;
    border: 3px solid black; 
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 60%;
    background-size: 200% 110%;;
    background-position: 50% 100%;
} */

.flex-item:nth-child(3) {
    margin-left: 50px;
    width: 350px;
    height: 80%;
    background: rgb(236,78,78);
    background: linear-gradient(90deg, rgba(236,78,78,1) 15%, rgba(255,144,144,1) 40%, rgba(255,38,38,1) 63%, rgba(247,143,143,1) 81%);
    border: 15px #c7a008 solid;
    border-radius: 15px;
    background-color: #c7a008;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

    .pokemon-2 {
        border-radius: 15px;
        width: 300px;
        height: 50%;
        border: 2px #B3A125 solid;
        margin: 25px;
    }
    
    .stats-2 {
        width: 350px;
        height: 35%;
        margin: 25px;
    }

/* .row-2 {
    margin-top: 50px;
    width: 100%;
    background-color: red;
    height: 600px;
    flex-wrap: wrap;
} */

/* .card-1 {
   float: left;
    width: 400px;
    height: 500px;
    background-color: black;
}

.vs {
   
    margin-left: 45%;
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.card-2 {
    float: right;
    width: 400px;
    height: 500px;
    background-color: black;
    
} */

.row-3 {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    
} 

