.battleground {
    background-image: url(../PokeDexComponent/BattleGround.jpg);
    background-attachment: fixed;
    float: right;
    width: 85%;
    height: 120vh;
}

.row-1 {
    width: 100%;
    height: 100px;
    
    padding-top: 20px;
}

.left {
    width: 40%;
    height: 50px;
    float: left;
    
    
}

#first {
    width: 100%;
    height: 100%;
   
}

.select1{
    width: 50%;
    height: 100%;
    background-color: white;
    border: 5px solid black;
    margin: auto;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 

}
.select1::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}



a {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    color: #222222
  }
  
  /* Dropdown */
  
  .dropdown {
    width: 250px;
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    width: 200px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #3c5aa6;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #2b4997;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    width: 200px;
    position: absolute;
    top: 100%;
    border: 1px solid #3c5aa6;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #3c5aa6;
    list-style-type: none;
    height: 250px;
    overflow: scroll;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
      width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
 
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }

  .dd-menu li a:hover {
    color: red;

  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }




.right {
    width: 40%;
    height: 50px;
    float: right;
    
}

.select2 {
    width: 50%;
    height: 100%;
    background-color: white;
    border: 5px solid black;
    margin: auto;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
.select2::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


#second{
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 600px;
    
    }

.flex-item:nth-child(1) {
    margin-right: 50px;
    width: 350px;
    height: 80%;
    background-image: url(./Card.png);
    border-radius: 15px;
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
    }

.pokemon-1 {
    border-radius: 15px;
    width: 80%;
    height: 45%;
    margin: 35px;
    background-size: 110% 120%; 
    background-repeat: no-repeat;
}

.stats-1 {
    width: 300px;
    height: 20%;
    margin: 20px;
}


.stats-1 h3 {
    text-align: left;
    font-size: 15px;
    
}

.flex-item:nth-child(2) {
    width: 350px;
    height: 80%;
    
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;
    }

    #fight h2 {
        font-size: 40px;
        margin-left: 125px;
        color: black;
    }

.vs {
    background-image: url(./pokeball.png);
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 60%;
 
}

.vs:hover {
    width: 120px;
    height: 120px;
    margin-top: 55%;

}

.flex-item:nth-child(3) {
    margin-left: 50px;
    width: 350px;
    height: 80%;
    background-image: url(./Card.png);
    border-radius: 15px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

    .pokemon-2 {
        border-radius: 15px;
        width: 80%;
        height: 45%;
        margin: 35px;
        width: 80%;
        background-size: 110% 120%; 
        background-repeat: no-repeat;
    }
    
    .stats-2 {
        width: 350px;
        height: 35%;
        margin: 25px;
    }
    .stats-2 h3 {
      text-align: left;
      font-size: 15px;
      
  }


.row-3 {
  margin: auto;
    margin-top: 50px;
    width: 400px;
    height: 400px;
  background-color: rgb(59, 59, 59);    
  border-radius: 25px;
} 



#first {
    color: black;
}

