.Dex {
    width: 100%;
    height: 100vh;
    
}
h1 {
    font-size: 50px;
    margin: 5px;
}

.background {
  background-attachment: fixed;
  float: right;
  width: 85%;
  height: 120vh;
  background-color: rgb(122, 0, 0);
  background-image: url(./background-1.png);
}


.hero-text2 {
  width: 80%;
  height: 100px;
  margin: auto;
}

  h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h3 {
    font-size: 20px;
    text-align: center;
    
  }
.block-2 {
    float: right;
    width: 80%;
    height: 100vh;
    background-color: blueviolet;
    
  }

  .hero-text {
    width: 50%;
    margin: auto;
    text-align: center;
}

.poke-list {
    background-color: lightblue;
    width: 80%;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    border: 5px solid black;
    overflow: scroll;
  }

   
  .poke-list::-webkit-scrollbar {
  width: 10px;
}

  
.poke-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

 
.poke-list::-webkit-scrollbar-thumb {
  background: #888;
}


.poke-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.poke-list-item{
    margin: 1px;
    
}

#bttn h3 {
    font-size: 20px;
}

#bttn {
    background-color:rgba(0, 0, 0, 0) ;
    border: 0.1px;
}


.block-1 {

  margin: auto;
  width: 95%;
  height: 750px;
  background-color: red;
  border: 5px solid black;

}


.left-section {
  width: 48%;
  height: 750px;
  float: left;
  background-color: red;
  
}

.btn1 {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 15px;
  margin-left: 15px;
  margin-top: 10px;
}


.btn2 {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 15px;
  margin-left: 15px;

}


.btn3 {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 15px;
  margin-left: 15px;

}


.screen {
  background-color: lightblue;
  width: 80%;
  height: 600px;
  margin: auto;
  margin-top: 70px;
  border: 5px solid black;
}

.sprite {
  width: 60%;
  height: 300px;
  background-color: lightblue;
  margin: auto;
  margin-top: 50px;
  border: 5px solid black;
  background-size: 90% 100%; 
  background-repeat: no-repeat;
  
}

.information {
  width: 100%;
  height: 240px;
  display: inline-block;

}

.information h4 {
  font-size: 30px;
  margin: 10px;
 
}

.right-section {
  width: 49.5%;
  height: 750px;
  float: right;
  background-color: red;
  border-left: 5px solid black;
}

