.Dex {
    width: 100%;
    height: 100vh;
    
}
h1 {
    float: right;
}

.block-2 {
    float: right;
    width: 80%;
    height: 100vh;
    background-color: blueviolet;
    background-image: url();
  }

  .hero-text {
    width: 50%;
    margin: auto;
    text-align: center;
}

.poke-list {
    background-color: lightblue;
    width: 80%;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    border: 5px solid black;
    overflow: scroll;
  }

   
  .poke-list::-webkit-scrollbar {
  width: 10px;
}

  
.poke-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

 
.poke-list::-webkit-scrollbar-thumb {
  background: #888;
}


.poke-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.poke-list-item{
    margin: 1px;
    
}

#bttn h3 {
    font-size: 20px;
}

#bttn {
    background-color:rgba(0, 0, 0, 0) ;
    border: 0.1px;
}

