.Back {
    width: 85%;
    height: 100vh;
    float: right;
    background-color: rgb(245, 108, 108);
}

.Statement {
    width: 50%;
    height: 200px;
    text-align: center;
    margin: auto;
}

.Statement h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    color: black;
}

.TLine {
    width: 70%;
    height: 500px;
    margin: auto;
    background-color: rgb(49, 49, 49);

}